#type{
    margin-left:8em;
    font-size: 25px;
    color: rgb(125, 48, 141);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}